.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ccc;
  height: 80vh;
}

.item {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  background-color: #8d8d8d;
}

.item:nth-child(3) {
  align-self: flex-end;
}
